<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @post.nombre %>
</p>

<p>
  <b>Carrera:</b>
  <%= @post.carrera %>
</p>

<p>
  <b>Clase1:</b>
  <%= @post.clase1 %>
</p>

<p>
  <b>Clase2:</b>
  <%= @post.clase2 %>
</p>

<p>
  <b>Clase3:</b>
  <%= @post.clase3 %>
</p>

<p>
  <b>Clase4:</b>
  <%= @post.clase4 %>
</p>

<p>
  <b>Materia1:</b>
  <%= @post.materia1 %>
</p>

<p>
  <b>Materia2:</b>
  <%= @post.materia2 %>
</p>

<p>
  <b>Materia3:</b>
  <%= @post.materia3 %>
</p>

<p>
  <b>Materia4:</b>
  <%= @post.materia4 %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
